<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nyx</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap">
</head>

<body style="background: rgb(8,8,8);font-family: Poppins, sans-serif;color: rgb(255,255,255);height: 100vh;min-height: 100vh;">
    <div class="container-fluid" style="background: #000000;padding: 27px;">
        <h6 class="text-center" style="color: rgba(255,255,255,0.37);">© nyxbot 2022, <strong>all rights reserved.</strong><br></h6>
        <h6 class="text-center" style="color: rgba(255,255,255,0.37);"><a href="https://nyx.bot/privacy">privacy policy</a>&nbsp;/ <a href="https://nyx.bot/terms">terms of service</a></h6>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/bs-init.js"></script>
</body>

</html>